main{
    display: flex;
    justify-content: center;
}

form{
    width: 1500px;
    margin-left: 60px;
}

aside{
    width: fit-content;
    border: 3px solid rgb(219, 196, 63);
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #9e9e9e28;
    box-shadow: 0 0 0 14px #9e9e9e5b;
    color: #cac7c7;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  
  .in1{
    width: 46%;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.5rem;  border: 3px solid rgb(219, 196, 63);
    border-radius: 10px;
    background-color: #9e9e9e28;
    box-shadow: 0 0 0 4px #9e9e9e28;
    font-size: large;
  }
  
  .in2{
    width: 92.6%;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.5rem;  border: 3px solid rgb(219, 196, 63);
    border-radius: 10px;
    background-color: #9e9e9e42;
    box-shadow: 0 0 0 4px #9e9e9e48;
    font-size: large;
  }
  
  input{
    transition: 0.4s;
    cursor: pointer;
    position: relative;
    color: #cac7c7;
  }
  
  input:hover{
    top: -0.5rem;
  }
  
  input:focus {
    top: -0.5rem;
    border: none;
  }
  
  textarea{
    width: 92.6%;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.5rem;  border: 3px solid rgba(175, 156, 50, 0.616);
    border-radius: 10px;
    background-color: #9e9e9e28;
    box-shadow: 0 0 0 4px #9e9e9e28;
    font-size: large;
    cursor: pointer;
    color: #cac7c7;
  }
  
  .sub{
    background-color: rgba(219, 196, 63, 0.781);
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 0.5rem;  
    border: 1px solid rgba(219, 196, 63, 0.616);
    border-radius: 4px;
    background-color: #9e9e9e28;
    box-shadow: 0 0 0 3px rgba(219, 196, 63, 0.616);
    font-size: large;
    cursor: pointer;
    color: #969393;
  }

  .sub:hover{
    border: 1px solid rgb(219, 196, 63);
    box-shadow: 0 0 0 3px rgb(219, 196, 63);
    color: #e9e7e7;
  }

  footer {
    margin-top: 0px;
  }

  @media (max-width: 600px) {
    form{
      width: 1500px;
      margin-left: 20px;
  }
    
  }